In [1]:
import os
import pandas as pd
import glob

In [2]:
folder_path = r'D:\FakeNews\data'  
search_pattern = '*[fF]ake*'

In [3]:
csv_files = glob.glob(os.path.join(folder_path, search_pattern))

In [4]:
merged_dataframe = pd.DataFrame(columns=['title', 'text'])

In [5]:
for csv_file in csv_files:
    df = pd.read_csv(csv_file, usecols=['title', 'text'])
    merged_dataframe = pd.concat([merged_dataframe, df], ignore_index=True)

In [6]:
merged_dataframe['label'] = 0

In [7]:
merged_dataframe.to_csv(r'D:\FakeNews\data\fake_final.csv', index=False)

In [8]:
fake=pd.read_csv(r'D:\FakeNews\data\fake_final.csv')
fake.head()

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,0

In [9]:
fake.shape

(29331, 3)

In [10]:
num_columns = len(fake.columns)

null_count_per_column = fake.isnull().sum()

print(f"Number of columns: {num_columns}")
print("Null values in each column:")
print(null_count_per_column)

Number of columns: 3
Null values in each column:
title      74
text     5829
label       0
dtype: int64

###### for real csv files

In [11]:
search_pattern = '*[Rr]eal*'
csv_files = glob.glob(os.path.join(folder_path, search_pattern))

merged_dataframe = pd.DataFrame(columns=['title', 'text'])

In [12]:
for csv_file in csv_files:
    df = pd.read_csv(csv_file, usecols=['title', 'text'])
    merged_dataframe = pd.concat([merged_dataframe, df], ignore_index=True)

In [13]:
merged_dataframe['label'] =1

In [14]:
merged_dataframe.to_csv(r'D:\FakeNews\data\real_final.csv', index=False)

In [15]:
real=pd.read_csv(r'D:\FakeNews\data\real_final.csv')
real.head()

                                               title text  label
0  Teen Mom Star Jenelle Evans' Wedding Dress Is ...  NaN      1
1  Kylie Jenner refusing to discuss Tyga on Life ...  NaN      1
2                                      Quinn Perkins  NaN      1
3  I Tried Kim Kardashian's Butt Workout & Am For...  NaN      1
4  Celine Dion donates concert proceeds to Vegas ...  NaN      1

In [16]:
real.shape

(39032, 3)

In [17]:
num_columns = len(real.columns)

null_count_per_column = real.isnull().sum()

print(f"Number of columns: {num_columns}")
print("Null values in each column:")
print(null_count_per_column)

Number of columns: 3
Null values in each column:
title      174
text     17615
label        0
dtype: int64

##### merge both real and fake into single file

In [18]:
merged_df = pd.concat([fake, real], ignore_index=True)

In [19]:
merged_df.to_csv(r'D:\FakeNews\data\final.csv', index=False)

In [20]:
final=pd.read_csv(r'D:\FakeNews\data\final.csv')
final.head()

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,0

In [21]:
final['label'].value_counts()

1    39032
0    29331
Name: label, dtype: int64

In [22]:
final.shape

(68363, 3)